<header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <NavLink href="/" Match="NavLinkMatch.All" ActiveClass="active" class="nav-link">Home</NavLink>
        </li>
        <li>
            <NavLink href="/Asset" Match="NavLinkMatch.Prefix" ActiveClass="active" class="nav-link">Assets</NavLink>
        </li>
    </ul>
</header>

@code {

}
