<header class="d-flex  py-3 border-bottom">
    <ul class="nav nav-pills me-auto">
        <li class="nav-item">
            <NavLink href="/" Match="NavLinkMatch.All" ActiveClass="active" class="nav-link">Home</NavLink>
        </li>
        <li class="nav-item">
            <NavLink href="/Sensor" Match="NavLinkMatch.Prefix" ActiveClass="active" class="nav-link disabled">Sensors</NavLink>
        </li>
        <li>
            <NavLink href="/Asset" Match="NavLinkMatch.Prefix" ActiveClass="active" class="nav-link">Assets</NavLink>
        </li>
        <li class="nav-item">
            <NavLink href="/Media" Match="NavLinkMatch.Prefix" ActiveClass="active" class="nav-link disabled">Media</NavLink>
        </li>
        <li class="nav-item">
            <NavLink href="/Device" Match="NavLinkMatch.Prefix" ActiveClass="active" class="nav-link disabled">Devices</NavLink>
        </li>
        <li class="nav-item">
            <NavLink href="/Purchases" Match="NavLinkMatch.Prefix" ActiveClass="active" class="nav-link disabled">Purchases</NavLink>
        </li>
        <li class="nav-item">
            <NavLink href="/Artwork" Match="NavLinkMatch.Prefix" ActiveClass="active" class="nav-link disabled">Artworks</NavLink>
        </li>
        <li class="nav-item">
            <NavLink href="/Recipe" Match="NavLinkMatch.Prefix" ActiveClass="active" class="nav-link disabled">Recipes</NavLink>
        </li>
    </ul>
    <ul class="nav">
        <LoginDisplay />
    </ul>
</header>

@code {

}
